<!doctype html>
<html lang="en" ng-app="CarouselPoc">
<head>
	<meta charset="utf-8">
	<title>Carousel POC</title>
	
	<link href="../bower_components/angular-carousel/dist/angular-carousel.css" rel="stylesheet" type="text/css" />
	<link href="css/styles.css" rel="stylesheet" type="text/css" />

	<script src="../bower_components/angular/angular.js"></script>
	<script src="../bower_components/angular-touch/angular-touch.js"></script>
	<script src="../bower_components/angular-carousel/dist/angular-carousel.js"></script>
	
	<script src="js/app.js"></script>
	<script src="js/controllers/MainCtrl.js"></script>
</head>

<body ng-controller="MainCtrl">
	
	<ul rn-carousel rn-carousel-index="index" class="my-slider ng-cloak">
		<li ng-repeat="image in images" class="slide" ng-style="{'background-image': 'url(' + image.url + ')'}">
			<div class="slide-content">
				{{image.description}}
				<a href="javascript:;" class="learn-more">Learn More &gt;&gt;</a>
			</div>
		</li>
	</ul>
	<div class="ng-cloak thumbs">
		<div class="thumb" ng-repeat="image in images" ng-click="updateIndex( $index )" ng-style="{'background-image': 'url(' + image.thumbUrl + ')'}" ng-class="{'thumb-active': ($parent.index==$index)}"></div>
	</div>
	
</body>
</html>
